<h1 class="header">Welcome to Flight Booker</h1>
<%= render 'shared/flashes' %>
<div class="index-container">
  <div class="form-container">
    <ul class="list form-list">
      <%= form_with(model: @flights, url: "/flights", local: true, method: "get", class: "form") do |f| %>
        <li class="list-item"><%= f.label "Origin", class: "form-label" %></li>
        <li class="list-item">
          <%= f.collection_select(:departing_flight_id, Airport.all, :id, :code, {class: "form-input"})%>
        </li>
        <li class="list-item"> <%= f.label "Destination", class: "form-label" %></li>
        <li class="list-item">
          <%= f.collection_select(:arriving_flight_id, Airport.all, :id, :code, class: "form-input") %>
        </li>
        <li class="list-item"><%= f.label "Passengers", class: "form-label" %></li>
        <li class="list-item">
          <%= f.select :passengers, options_for_select(1..4,),  { include_blank: false }%>
        </li>
        <li class="list-item"><%= f.label "Departure", class: "form-label" %></li>
              
        <li class="list-item">
          <%= f.date_field :datetime, value: Date.today, class: "form-input" %>
        </li>
        <li class="submit-btn"><%= f.submit "Search", class: "submit"%></li>
      <% end %>
    </ul>
  </div>
  <div class="results-container">
    <ul class="list">
      <% if !@flight_result.empty? %>
        <%= form_with(url: new_booking_path, local: true, method: "get") do |f| %>
          <%= hidden_field_tag :passengers, @passengers %>
          <% @flight_result.each do |x| %>          
            <div class= "list-item-container">
              <li class="result-item">Departing from: <%= x.departing_flight.code %></li>
              <li class="result-item"> Arriving at: <%= x.arriving_flight.code %></li>
              <li class="result-item">Flight date: <%= x.flight_date %></li>
              <li class="result-item">Duration: <%= x.duration %> hrs.</li>
              <li class="result-item"><%= f.radio_button :flight_id, x.id, required: :required%>
                <%= f.label :booked_flight, "Select" %></li>
            </div>
          <% end %>
          <li class="result-item"><%= f.submit "Book" , class: "book-btn" %></li>
        <% end %>
      <% end %>
      <%= form_with(url: new_booking_path, local: true, method: "get", class: "form") do |f| %>
        <%= hidden_field_tag :passengers, @passengers %>
        <p class="upcomming">Upcomming flights in next 3 weeks</p>
        <%= will_paginate @upcomming_flights, class:"pagination" %>
        <% @upcomming_flights.each do |x| %>
          <div class= "list-item-container">
            <li class="result-item">Departing from: <%= x.departing_flight.code %></li>
            <li class="result-item"> Arriving at: <%= x.arriving_flight.code %></li>
            <li class="result-item">Flight date: <%= x.flight_date %></li>
            <li class="result-item">Duration: <%= x.duration %> hrs.</li>
            <li class="result-item"><%= f.radio_button :flight_id, x.id, required: :required%>
              <%= f.label :booked_flight, "Select" %>
            </div>
          <% end %>
          <div class="select">
            <li class="result-item select"><%= render "select", f: f %></li>
            <li class="result-item"><%= f.submit "Book", class: "book-btn" %></li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
